<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    </environment>

    @RenderSection("TopScripts", required: false)

    
</head>
<body class="page @ViewData["PageClass"]">

@RenderBody()

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/plugins.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>

<environment include="Development">
    <script src="~/horse.js"></script>
</environment>

@RenderSection("Scripts", required: false)

</body>
</html>
