﻿@page
@{
    ViewData["Title"] = "HorseStrap";
    ViewData["PageClass"] = "page-home";
}

<div class="container">
    <div class="item">
        <img src="images/Logo.svg" class="logo" />
        <div class="main-content">
            <h1>Nice to meet you.</h1>
            <p>We are preparing something really freaking cool. Honestly, we are stoked to tell you all about it. Be the first to know when it launches.</p>
            <form id="notify-form">
                <div class="input">
                    <input type="email" name="txtEmail" placeholder="loveyourmom@gmail.com" required />
                </div>
                <button id="submit-button"><img src="images/paper%20plane.svg"> <span>Notify Me</span></button>
            </form>
        </div>
        <footer>
            <ul class="social">
                <li><img src="images/Fill%201.svg" /></li>
                <li><img src="images/youtube%20play.svg" /></li>
                <li><img src="images/github.svg" /></li>
                <li><img src="images/Instagram%20Logo.svg" /></li>
            </ul>
            <div class="copyright">
                <img src="images/SGF-Flag-1024x597.png" sizes="64px"
                     srcset="images/SGF-Flag-1024x597.png 64w, images/SGF-Flag-1024x597@2x.png 128w, images/SGF-Flag-1024x597@3x.png 192w, images/SGF-Flag-1024x597@4x.png 256w" />
                <span><span class="welove">We <span class="symbol">❤</span> Springfield. </span><span class="year">©2019 Springfield Devs. 501(c)6</span></span>

            </div>
       </footer>
    </div>
    <div class="item">

        <img class="photo" src="images/Image.png" 
                sizes="50vw"
                srcset="images/Image.png 512w, images/Image@2x.png 1024w, images/Image@3x.png 1536w, images/Image@4x.png 2048w" />
        <img src="images/Group%2040.svg" class="logo" />
    </div>


</div>

@section Scripts {
    <script type="text/javascript">

        !function(e,i){if("function"==typeof define&&define.amd)define(["exports","jquery"],function(e,r){return i(e,r)});else if("undefined"!=typeof exports){var r=require("jquery");i(exports,r)}else i(e,e.jQuery||e.Zepto||e.ender||e.$)}(this,function(e,i){function r(e,r){function n(e,i,r){return e[i]=r,e}function a(e,i){for(var r,a=e.match(t.key);void 0!==(r=a.pop());)if(t.push.test(r)){var u=s(e.replace(/\[\]$/,""));i=n([],u,i)}else t.fixed.test(r)?i=n([],r,i):t.named.test(r)&&(i=n({},r,i));return i}function s(e){return void 0===h[e]&&(h[e]=0),h[e]++}function u(e){switch(i('[name="'+e.name+'"]',r).attr("type")){case"checkbox":return"on"===e.value?!0:e.value;default:return e.value}}function f(i){if(!t.validate.test(i.name))return this;var r=a(i.name,u(i));return l=e.extend(!0,l,r),this}function d(i){if(!e.isArray(i))throw new Error("formSerializer.addPairs expects an Array");for(var r=0,t=i.length;t>r;r++)this.addPair(i[r]);return this}function o(){return l}function c(){return JSON.stringify(o())}var l={},h={};this.addPair=f,this.addPairs=d,this.serialize=o,this.serializeJSON=c}var t={validate:/^[a-z_][a-z0-9_]*(?:\[(?:\d*|[a-z0-9_]+)\])*$/i,key:/[a-z0-9_]+|(?=\[\])/gi,push:/^$/,fixed:/^\d+$/,named:/^[a-z0-9_]+$/i};return r.patterns=t,r.serializeObject=function(){return new r(i,this).addPairs(this.serializeArray()).serialize()},r.serializeJSON=function(){return new r(i,this).addPairs(this.serializeArray()).serializeJSON()},"undefined"!=typeof i.fn&&(i.fn.serializeObject=r.serializeObject,i.fn.serializeJSON=r.serializeJSON),e.FormSerializer=r,r});


        var $form = $('form#notify-form');
        var url = 'https://script.google.com/macros/s/AKfycbzf4yvY5hj_bQ44JELUJ5L0K4j9oO9QCFtS59evZfeRMFYmSj3k/exec';
        $form.submit(function( e ) {
            event.preventDefault();
            var jqxhr = $.ajax({
                url: url,
                method: "GET",
                dataType: "json",
                data: $form.serializeObject()
            }).success(function() {
                alert("THANKS");
                $form.trigger("reset");
            });
        });
    </script>

}