
/* Global Styles */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #153557;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    margin-bottom: .25em;
}

h1 {
    color: #153557;
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -.050em;
}

p {
    margin-bottom: 1.5em;
}

.symbol {
    color: #619ECE;
}

/* End Global Styles */

/* Page Container */
.container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    padding: 0;

    .item {
        flex-grow: 1;
    }
    
    /* Main Column */
    .item:nth-child(1) {
        padding: 3vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    
        .logo { display: none; }

        footer {
            display: flex;
            flex-direction: column;
        
            ul.social {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: flex;
                padding: 1em 0;
                margin-bottom: .5em;

                li {
                    padding-right: 2em;
                }
            }
                    
            .copyright {
        
                line-height: 1.4em;
                > img {
                    float: left;
                    margin-bottom: 1em;
                }
        
                > span {
                    float: left;
                    clear: left;
                }
        
                .welove {
                    float: left; 
                    clear: left;
                }
        
                .year {
                    float: left;
                    clear: left;
                }
            }
            
            
        }
    }
    
    /* Springfield Picture */
    .item:nth-child(2) {
        background-color: #619ECE;
        overflow: hidden;
        height: 65vw;
        position: relative;
        
        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 30%;
            mix-blend-mode: luminosity;
            background: linear-gradient(180deg, rgba(44,107,150,1) 0%, rgba(0,0,0,1) 100%);
        }
    
        .logo {
            position: absolute;
            bottom: 3vw;
            left: 3vw;
        }        
    }
}


/* FORMS */

input, button {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.5px;
}    


button {
    background-color: #153557;
    color: white;
    border: 0;
    padding: .65em 2em .65em 1em;
    display: flex;
    align-items: center;
}

button span {
    margin-left: .65em;
}

input[type='email'] {
    border: 0;
    background: transparent;
    width: 100%;
    padding: .65em;
    box-sizing: border-box;
}

input::placeholder {
    color: #aaaaaa;
}

form {
    margin-bottom: 5em;
}


.input {
    background-color: #F7F7F7;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #153557;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1em; 
    
    &:before, &:after {
        position: absolute;
        bottom: -2px;
        content: "";
        display: block;
        margin: auto 0;
        height: 25%;
    }

    &:before {
        left:-2px;
        border-right: 2px solid #153557;
    }

    
    &:after {
        right:-2px;
        border-left: 2px solid #153557;
    }
}







/* TABLET */
@media (min-width: 1024px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }

    h1 {
        font-size: 75px;
        line-height: 70px;
        letter-spacing: -3.75px;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        
        .item {
            flex-basis: 50%;
        }

        .item:nth-child(1) {
            .logo {
                display: block; 
            }

            .main-content {
                h1 {
                    width: 75%;
                }

                p {
                    width: 85%;
                }

                form {
                    width: 65%;
                }
            }


            footer {

                .copyright {
                    display: flex;
                    align-items: center;

                    > img {
                        float: none;
                        margin-bottom: 0;
                        margin-right: 1em;
                    }
            
                    > span {
                        float: none;
                    }
            
                    .welove {
                        float: none; 
                    }
            
                    .year {
                        float: none;
                    }
                }
                
            }
        }

        .item:nth-child(2) {
            height: 100%;
            .logo {
                display: none;
            }
        }
    }
}


/* DESKTOP */
@media (min-width: 1440px) {
    body {
        font-size: 18px;
        line-height: 30px;
    }

    h1 {
        font-size: 100px;
        line-height: 90px;
        letter-spacing: -5px;
    }

    .container {
        .item:nth-child(1) {
            .main-content {
                h1 {
                    width: 100%;
                }

                p {
                    width: 100%;
                }

                form {
                    display: flex;
                    width: 100%;

                    .input {
                        width: 50%;
                        margin-bottom: 0;
                    }

                    button {
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}
